@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: 'Roboto';
src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
        url('/fonts/Roboto-Medium.woff') format('woff');
font-weight: 500;
font-style: normal;
}
  
@font-face {
font-family: 'Roboto-italic';
src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('/fonts/Roboto-MediumItalic.woff') format('woff');
font-weight: 500;
font-style: italic;
}
.instagram {
    @apply inline-block w-6 h-6;
    background-image: url('/svg/instagram.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.btn-primary {
        @apply text-xs text-white bg-primary-100 py-2.5 px-[22px] rounded-sm hover:bg-primary-200 transition ease-in;
}
.link-header{
        @apply text-xs text-secondary-200 p-2 relative hover:text-primary-100 hover:after:transition hover:after:ease-in hover:after:absolute hover:after:content-[''] hover:after:bottom-0 hover:after:left-0 hover:after:w-full hover:after:h-1 hover:after:bg-primary-100;
}
.link-footer{
        @apply text-xs text-silver relative hover:after:transition hover:after:ease-in hover:after:absolute hover:after:content-[''] hover:after:-bottom-[1px] hover:text-opacity-80 hover:after:left-0 hover:after:w-full hover:after:h-[1px] hover:after:bg-primary-100;
}